
@font-face {
  font-family: "Andika";
  font-weight: 400;
  font-style: normal;
  src: local("Andika Regular"),
    local("Andika-Regular"),
       url("../fonts/Andika-Regular.woff2") format('woff2'),
       url("../fonts/Andika-Regular.woff") format('woff'),
       url("../fonts/Andika-Regular.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: "Andika";
  font-weight: 700;
  font-style: normal;
  src: local("Andika Bold"),
    local("Andika-Bold"),
       url("../fonts/Andika-Bold.woff2") format('woff2'),
       url("../fonts/Andika-Bold.woff") format('woff'),
       url("../fonts/Andika-Bold.eot") format('eot');
  font-display: swap;
}

