@font-face {
  font-family: BebasNeue;
  font-weight: 700;
  font-style: normal;
  src: local("BebasNeue"),
        url("../fonts/BebasNeue-Bold.woff2") format('woff2'),
        url("../fonts/BebasNeue-Bold.woff") format('woff'),
        url("../fonts/BebasNeue-Bold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: BebasNeue;
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue"),
        url("../fonts/BebasNeue-Regular.woff2") format('woff2'),
        url("../fonts/BebasNeue-Regular.woff") format('woff'),
        url("../fonts/BebasNeue-Regular.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"),
        url("../fonts/Montserrat-Regular.woff2") format('woff2'),
        url("../fonts/Montserrat-Regular.woff") format('woff'),
        url("../fonts/Montserrat-Regular.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat"),
        url("../fonts/Montserrat-SemiBold.woff2") format('woff2'),
        url("../fonts/Montserrat-SemiBold.woff") format('woff'),
        url("../fonts/Montserrat-SemiBold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  src: local("OpenSans"),
        url("../fonts/OpenSans-Regular.woff2") format('woff2'),
        url("../fonts/OpenSans-Regular.woff") format('woff'),
        url("../fonts/OpenSans-Regular.eot") format('eot');
  font-display: swap;
}