* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background: #000000;
  line-height: 22px;
  font-size: 16px;
}
@media (max-width: 1260px) {
  body {
    font-size: calc(13px + 3 * ((100vw - 320px) / 940));
  }
}

.header__content-btn, .header__btn {
  font-family: BebasNeue, sans-serif;
  font-size: 30px;
  max-width: 300px;
  line-height: 75px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(270deg, #004AAD 0%, #26A9E0 99.99%, #26A9E0 100%);
  border-radius: 40px;
  white-space: nowrap;
}
@media (max-width: 1260px) {
  .header__content-btn, .header__btn {
    font-size: calc(16px + 14 * ((100vw - 320px) / 940));
  }
}

.header__content-btn:not(:first-of-type), .header__btn:not(:first-of-type) {
  border: 2px solid #26A9E0;
  background: transparent;
  line-height: 71px;
}

.advantages__content-tittle, .header__content-tittle {
  font-family: BebasNeue, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media (max-width: 1260px) {
  .advantages__content-tittle, .header__content-tittle {
    font-size: calc(24px + 26 * ((100vw - 320px) / 940));
  }
}
.advantages__content-tittle span, .header__content-tittle span {
  background: #26A9E0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header__top {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__btns {
  display: flex;
  margin-bottom: 14px;
}

.header__btn {
  width: 130px;
  line-height: 50px;
}
.header__btn:not(:first-of-type) {
  font-size: 24px;
  width: 175px;
  line-height: 46px;
  margin-left: 30px;
}
@media (max-width: 1260px) {
  .header__btn:not(:first-of-type) {
    font-size: calc(20px + 4 * ((100vw - 320px) / 940));
  }
}

.header__content-tittle {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 33px;
}
@media (max-width: 1260px) {
  .header__content-tittle {
    font-size: calc(20px + 50 * ((100vw - 320px) / 940));
  }
}
@media (max-width: 1260px) {
  .header__content-tittle {
    margin-bottom: calc(22px + 11 * ((100vw - 320px) / 940));
  }
}

.header__content-text {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 0px;
}
.header__content-text:not(:last-of-type) {
  margin-bottom: 13px;
}

.header__content-btns {
  display: flex;
}
.header__content-btns a {
  width: 100%;
}

.header__content-btn:not(:first-of-type) {
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */